<%-include('./partials/header'); -%>
 
<br>
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                
                <div class="jumbotron">
                    <h4 style="text-align: center;">📝Todo-Let's do it</h4>
                    <h5 style="text-align: center;"><%=day%></h5>
                    <h5 style="text-align: center;"><%=greet%></h5>
                    <hr class="my-4">
                    <% emoji=['🎯','🥇','🏆','🎖','🥈','🥊','✏','✒','📍','📌','❤','🔶','😁','🤣','😍','🥰','😘','😋','😎','😂','🤭','😈','👺','👿','🧐','🤥','🥺','🤧','😷'] %>
             
                    <%for(var i=0;i<tasks.length;i++){%>
                        <%r=Math.floor(Math.random() * emoji.length)%>
                
                    <form action='/checkdel' method='POST'>
                        <input type="checkbox" value="<%=tasks[i]._id%>" onchange="this.form.submit()" name="che">
                    </form>
                   <span>
                    <h6><%= emoji[r]%> <%=tasks[i].topic%></h6>
                    <h5><%=tasks[i].content%></h5>
          
                    <hr>
                   </span>
                      
                   
                    <%}%>
                    
                    
                  </div>
            </div>
        </div>
        
       <div class="container">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">  
        
    <form method="POST" action="/">
        <div class="form-group">

        
        <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter task" aria-describedby="enter task"name="todo" >
        <br>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="textarea" placeholder="About task"></textarea>
       <br>
        <div class="container">
            <div class="row">

           
            <div class="col-xl-8 col-lg-8 col-md-6 col-6 col-6 ">
                <button type="submit" class="btn btn-primary btn-lg btn-block" value="1" name="Add">Add Task 👍</button>
            </div>
    
    </form>
    

    <div class="col-xl-4 col-lg-4 col-md-6 col-6 col-6">
    
        <form action='/remove' method='POST'>
   <% if(tasks.length!=0){ %>
        <button type="submit" class="btn btn-danger btn-lg btn-block" value='<%= tasks[0]._id %>' name="Remove">Remove 🧺</button>
    <%}%>
</form>
     
</div>
</div>



    </div>

  <%-include('./partials/footer'); %>    

    

